## Assignment 6 - Apriori for association

In [ ]:
pip install efficient_apriori

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from efficient_apriori import apriori

In [5]:
df = pd.read_csv('./Datasets/Market_Basket_Optimisation.csv', encoding='utf-8', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

- Transforming dataframe into a DataFrame with count of individual count

In [6]:
# Put all transactions into a single list
txns = df.values.reshape(-1).tolist()

# Create a dataframe using this single list and add a column for count
df_list = pd.DataFrame(txns)
df_list['Count'] = 1

# Group by items and rename columns
df_list = df_list.groupby(by=[0], as_index=False).count().sort_values(by=['Count'], ascending=True)  # count
df_list['Percentage'] = (df_list['Count'] / df_list['Count'].sum())  # percentage
df_list = df_list.rename(columns={0: 'Item'})

# Show dataframe
df_list

              Item  Count  Percentage
0        asparagus      1    0.000034
112    water spray      3    0.000102
77         napkins      5    0.000170
34           cream      7    0.000238
11         bramble     14    0.000477
..             ...    ...         ...
25       chocolate   1230    0.041889
43    french fries   1282    0.043660
100      spaghetti   1306    0.044478
37            eggs   1348    0.045908
72   mineral water   1788    0.060893

[120 rows x 3 columns]

---
 - Removing NaN entries

In [8]:
# Create a list of lists from a dataframe
txns2=df.stack().groupby(level=0).apply(list).tolist()

---
 - Finding associations using Apriori

In [9]:
itemsets, rules = apriori(txns2, min_support=0.03, min_confidence=0.2, verbosity=1)

Generating itemsets.
 Counting itemsets of length 1.
  Found 120 candidate itemsets of length 1.
  Found 36 large itemsets of length 1.
 Counting itemsets of length 2.
  Found 630 candidate itemsets of length 2.
  Found 18 large itemsets of length 2.
 Counting itemsets of length 3.
  Found 14 candidate itemsets of length 3.
Itemset generation terminated.

Generating rules from itemsets.
 Generating rules of size 2.
Rule generation terminated.

In [11]:
itemsets #measure of number of items in each Candidate sets 
# found 36 items of size 1, 18 items of size 2 satisfying minimum support of 0.03

{1: {('shrimp',): 536,
  ('avocado',): 250,
  ('cottage cheese',): 239,
  ('tomato juice',): 228,
  ('low fat yogurt',): 574,
  ('green tea',): 991,
  ('honey',): 356,
  ('mineral water',): 1788,
  ('salmon',): 319,
  ('frozen smoothie',): 475,
  ('olive oil',): 494,
  ('burgers',): 654,
  ('eggs',): 1348,
  ('turkey',): 469,
  ('milk',): 972,
  ('whole wheat rice',): 439,
  ('french fries',): 1282,
  ('soup',): 379,
  ('frozen vegetables',): 715,
  ('spaghetti',): 1306,
  ('cookies',): 603,
  ('cooking oil',): 383,
  ('champagne',): 351,
  ('chocolate',): 1229,
  ('chicken',): 450,
  ('tomatoes',): 513,
  ('pancakes',): 713,
  ('grated cheese',): 393,
  ('fresh bread',): 323,
  ('ground beef',): 737,
  ('escalope',): 595,
  ('herb & pepper',): 371,
  ('cake',): 608,
  ('hot dogs',): 243,
  ('brownies',): 253,
  ('butter',): 226},
 2: {('chocolate', 'eggs'): 249,
  ('chocolate', 'french fries'): 258,
  ('chocolate', 'milk'): 241,
  ('chocolate', 'mineral water'): 395,
  ('chocolate', 'spaghetti'): 294,
  ('eggs', 'french fries'): 273,
  ('eggs', 'milk'): 231,
  ('eggs', 'mineral water'): 382,
  ('eggs', 'spaghetti'): 274,
  ('french fries', 'mineral water'): 253,
  ('frozen vegetables', 'mineral water'): 268,
  ('green tea', 'mineral water'): 233,
  ('ground beef', 'mineral water'): 307,
  ('ground beef', 'spaghetti'): 294,
  ('milk', 'mineral water'): 360,
  ('milk', 'spaghetti'): 266,
  ('mineral water', 'pancakes'): 253,
  ('mineral water', 'spaghetti'): 448}}

---
 - Printing found Association Rules and the highest bought combination

In [19]:
flag = True
for item in sorted(rules, key=lambda item: (item.lift,item.conviction), reverse=True):
    if (flag):
        print(f"Highest bought combination is: {item.lhs[0]}/{item.rhs[0]}\n")
        flag = False
    else: print(item)

Highest bought combination is: ground beef/spaghetti

{spaghetti} -> {ground beef} (conf: 0.225, supp: 0.039, lift: 2.291, conv: 1.164)
{ground beef} -> {mineral water} (conf: 0.417, supp: 0.041, lift: 1.748, conv: 1.305)
{frozen vegetables} -> {mineral water} (conf: 0.375, supp: 0.036, lift: 1.572, conv: 1.218)
{milk} -> {spaghetti} (conf: 0.274, supp: 0.035, lift: 1.572, conv: 1.137)
{spaghetti} -> {milk} (conf: 0.204, supp: 0.035, lift: 1.572, conv: 1.093)
{milk} -> {mineral water} (conf: 0.370, supp: 0.048, lift: 1.554, conv: 1.210)
{mineral water} -> {milk} (conf: 0.201, supp: 0.048, lift: 1.554, conv: 1.090)
{milk} -> {chocolate} (conf: 0.248, supp: 0.032, lift: 1.513, conv: 1.112)
{pancakes} -> {mineral water} (conf: 0.355, supp: 0.034, lift: 1.489, conv: 1.181)
{spaghetti} -> {mineral water} (conf: 0.343, supp: 0.060, lift: 1.439, conv: 1.159)
{mineral water} -> {spaghetti} (conf: 0.251, supp: 0.060, lift: 1.439, conv: 1.102)
{chocolate} -> {spaghetti} (conf: 0.239, supp: 0.039, lift: 1.374, conv: 1.086)
{spaghetti} -> {chocolate} (conf: 0.225, supp: 0.039, lift: 1.374, conv: 1.079)
{chocolate} -> {mineral water} (conf: 0.321, supp: 0.053, lift: 1.348, conv: 1.122)
{mineral water} -> {chocolate} (conf: 0.221, supp: 0.053, lift: 1.348, conv: 1.073)
{milk} -> {eggs} (conf: 0.238, supp: 0.031, lift: 1.322, conv: 1.076)
{chocolate} -> {french fries} (conf: 0.210, supp: 0.034, lift: 1.228, conv: 1.049)
{french fries} -> {chocolate} (conf: 0.201, supp: 0.034, lift: 1.228, conv: 1.047)
{eggs} -> {mineral water} (conf: 0.283, supp: 0.051, lift: 1.189, conv: 1.063)
{mineral water} -> {eggs} (conf: 0.214, supp: 0.051, lift: 1.189, conv: 1.043)
{french fries} -> {eggs} (conf: 0.213, supp: 0.036, lift: 1.185, conv: 1.042)
{eggs} -> {french fries} (conf: 0.203, supp: 0.036, lift: 1.185, conv: 1.040)
{spaghetti} -> {eggs} (conf: 0.210, supp: 0.037, lift: 1.167, conv: 1.038)
{eggs} -> {spaghetti} (conf: 0.203, supp: 0.037, lift: 1.167, conv: 1.037)
{chocolate} -> {eggs} (conf: 0.203, supp: 0.033, lift: 1.127, conv: 1.029)
{green tea} -> {mineral water} (conf: 0.235, supp: 0.031, lift: 0.986, conv: 0.996)